* {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #111; }

.text-center {
  text-align: center; }

.dis-flex {
  display: -webkit-box;
  display: flex; }

.align-self-center {
  -ms-grid-row-align: center;
  align-self: center; }

.align-items-center {
  -webkit-box-align: center;
  align-items: center; }

.align-items-end {
  -webkit-box-align: end;
  align-items: flex-end; }

.align-items-start {
  -webkit-box-align: start;
  align-items: flex-start; }

.align-items-base {
  -webkit-box-align: baseline;
  align-items: baseline; }

.align-content-end {
  align-content: flex-end; }

.align-content-center {
  align-content: center; }

.align-content-between {
  align-content: space-between; }

.justify-content-between {
  -webkit-box-pack: justify;
  justify-content: space-between; }

.justify-content-end {
  -webkit-box-pack: end;
  justify-content: flex-end; }

.justify-content-center {
  -webkit-box-pack: center;
  justify-content: center; }

.justify-content-start {
  -webkit-box-pack: start;
  justify-content: flex-start; }

.flex-wrap-wrap {
  flex-wrap: wrap; }

.flex-direction-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.dis-grid {
  display: -ms-grid;
  display: grid; }

.grid-col-lg-1 {
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr); }

.grid-col-lg-2 {
  -ms-grid-columns: (2fr)[2];
  grid-template-columns: repeat(2, 2fr); }

.grid-col-lg-3 {
  -ms-grid-columns: (3fr)[3];
  grid-template-columns: repeat(3, 3fr); }

.grid-col-lg-4 {
  -ms-grid-columns: (4fr)[4];
  grid-template-columns: repeat(4, 4fr); }

.grid-col-lg-5 {
  -ms-grid-columns: (5fr)[5];
  grid-template-columns: repeat(5, 5fr); }

.grid-col-lg-6 {
  -ms-grid-columns: (6fr)[6];
  grid-template-columns: repeat(6, 6fr); }

.padding-t-5 {
  padding-top: 5px; }

.margin-t-5 {
  margin-top: 5px; }

.margin-b-5 {
  margin-bottom: 5px; }

.padding-t-6 {
  padding-top: 6px; }

.margin-t-6 {
  margin-top: 6px; }

.margin-b-6 {
  margin-bottom: 6px; }

.padding-t-7 {
  padding-top: 7px; }

.margin-t-7 {
  margin-top: 7px; }

.margin-b-7 {
  margin-bottom: 7px; }

.padding-t-8 {
  padding-top: 8px; }

.margin-t-8 {
  margin-top: 8px; }

.margin-b-8 {
  margin-bottom: 8px; }

.padding-t-9 {
  padding-top: 9px; }

.margin-t-9 {
  margin-top: 9px; }

.margin-b-9 {
  margin-bottom: 9px; }

.padding-t-10 {
  padding-top: 10px; }

.margin-t-10 {
  margin-top: 10px; }

.margin-b-10 {
  margin-bottom: 10px; }

.padding-t-11 {
  padding-top: 11px; }

.margin-t-11 {
  margin-top: 11px; }

.margin-b-11 {
  margin-bottom: 11px; }

.padding-t-12 {
  padding-top: 12px; }

.margin-t-12 {
  margin-top: 12px; }

.margin-b-12 {
  margin-bottom: 12px; }

.padding-t-13 {
  padding-top: 13px; }

.margin-t-13 {
  margin-top: 13px; }

.margin-b-13 {
  margin-bottom: 13px; }

.padding-t-14 {
  padding-top: 14px; }

.margin-t-14 {
  margin-top: 14px; }

.margin-b-14 {
  margin-bottom: 14px; }

.padding-t-15 {
  padding-top: 15px; }

.margin-t-15 {
  margin-top: 15px; }

.margin-b-15 {
  margin-bottom: 15px; }

.padding-t-16 {
  padding-top: 16px; }

.margin-t-16 {
  margin-top: 16px; }

.margin-b-16 {
  margin-bottom: 16px; }

.padding-t-17 {
  padding-top: 17px; }

.margin-t-17 {
  margin-top: 17px; }

.margin-b-17 {
  margin-bottom: 17px; }

.padding-t-18 {
  padding-top: 18px; }

.margin-t-18 {
  margin-top: 18px; }

.margin-b-18 {
  margin-bottom: 18px; }

.padding-t-19 {
  padding-top: 19px; }

.margin-t-19 {
  margin-top: 19px; }

.margin-b-19 {
  margin-bottom: 19px; }

.padding-t-20 {
  padding-top: 20px; }

.margin-t-20 {
  margin-top: 20px; }

.margin-b-20 {
  margin-bottom: 20px; }

.padding-t-21 {
  padding-top: 21px; }

.margin-t-21 {
  margin-top: 21px; }

.margin-b-21 {
  margin-bottom: 21px; }

.padding-t-22 {
  padding-top: 22px; }

.margin-t-22 {
  margin-top: 22px; }

.margin-b-22 {
  margin-bottom: 22px; }

.padding-t-23 {
  padding-top: 23px; }

.margin-t-23 {
  margin-top: 23px; }

.margin-b-23 {
  margin-bottom: 23px; }

.padding-t-24 {
  padding-top: 24px; }

.margin-t-24 {
  margin-top: 24px; }

.margin-b-24 {
  margin-bottom: 24px; }

.padding-t-25 {
  padding-top: 25px; }

.margin-t-25 {
  margin-top: 25px; }

.margin-b-25 {
  margin-bottom: 25px; }

.padding-t-26 {
  padding-top: 26px; }

.margin-t-26 {
  margin-top: 26px; }

.margin-b-26 {
  margin-bottom: 26px; }

.padding-t-27 {
  padding-top: 27px; }

.margin-t-27 {
  margin-top: 27px; }

.margin-b-27 {
  margin-bottom: 27px; }

.padding-t-28 {
  padding-top: 28px; }

.margin-t-28 {
  margin-top: 28px; }

.margin-b-28 {
  margin-bottom: 28px; }

.padding-t-29 {
  padding-top: 29px; }

.margin-t-29 {
  margin-top: 29px; }

.margin-b-29 {
  margin-bottom: 29px; }

.padding-t-30 {
  padding-top: 30px; }

.margin-t-30 {
  margin-top: 30px; }

.margin-b-30 {
  margin-bottom: 30px; }

.padding-t-31 {
  padding-top: 31px; }

.margin-t-31 {
  margin-top: 31px; }

.margin-b-31 {
  margin-bottom: 31px; }

.padding-t-32 {
  padding-top: 32px; }

.margin-t-32 {
  margin-top: 32px; }

.margin-b-32 {
  margin-bottom: 32px; }

.padding-t-33 {
  padding-top: 33px; }

.margin-t-33 {
  margin-top: 33px; }

.margin-b-33 {
  margin-bottom: 33px; }

.padding-t-34 {
  padding-top: 34px; }

.margin-t-34 {
  margin-top: 34px; }

.margin-b-34 {
  margin-bottom: 34px; }

.padding-t-35 {
  padding-top: 35px; }

.margin-t-35 {
  margin-top: 35px; }

.margin-b-35 {
  margin-bottom: 35px; }

.padding-t-36 {
  padding-top: 36px; }

.margin-t-36 {
  margin-top: 36px; }

.margin-b-36 {
  margin-bottom: 36px; }

.padding-t-37 {
  padding-top: 37px; }

.margin-t-37 {
  margin-top: 37px; }

.margin-b-37 {
  margin-bottom: 37px; }

.padding-t-38 {
  padding-top: 38px; }

.margin-t-38 {
  margin-top: 38px; }

.margin-b-38 {
  margin-bottom: 38px; }

.padding-t-39 {
  padding-top: 39px; }

.margin-t-39 {
  margin-top: 39px; }

.margin-b-39 {
  margin-bottom: 39px; }

.padding-t-40 {
  padding-top: 40px; }

.margin-t-40 {
  margin-top: 40px; }

.margin-b-40 {
  margin-bottom: 40px; }

.padding-t-41 {
  padding-top: 41px; }

.margin-t-41 {
  margin-top: 41px; }

.margin-b-41 {
  margin-bottom: 41px; }

.padding-t-42 {
  padding-top: 42px; }

.margin-t-42 {
  margin-top: 42px; }

.margin-b-42 {
  margin-bottom: 42px; }

.padding-t-43 {
  padding-top: 43px; }

.margin-t-43 {
  margin-top: 43px; }

.margin-b-43 {
  margin-bottom: 43px; }

.padding-t-44 {
  padding-top: 44px; }

.margin-t-44 {
  margin-top: 44px; }

.margin-b-44 {
  margin-bottom: 44px; }

.padding-t-45 {
  padding-top: 45px; }

.margin-t-45 {
  margin-top: 45px; }

.margin-b-45 {
  margin-bottom: 45px; }

.padding-t-46 {
  padding-top: 46px; }

.margin-t-46 {
  margin-top: 46px; }

.margin-b-46 {
  margin-bottom: 46px; }

.padding-t-47 {
  padding-top: 47px; }

.margin-t-47 {
  margin-top: 47px; }

.margin-b-47 {
  margin-bottom: 47px; }

.padding-t-48 {
  padding-top: 48px; }

.margin-t-48 {
  margin-top: 48px; }

.margin-b-48 {
  margin-bottom: 48px; }

.padding-t-49 {
  padding-top: 49px; }

.margin-t-49 {
  margin-top: 49px; }

.margin-b-49 {
  margin-bottom: 49px; }

.padding-t-50 {
  padding-top: 50px; }

.margin-t-50 {
  margin-top: 50px; }

.margin-b-50 {
  margin-bottom: 50px; }

.relative {
  position: relative; }

.z1 {
  z-index: 1; }

.full-height {
  height: 100%;
  min-height: 100%; }

.full-width {
  width: 100%;
  min-width: 100%; }

h1, h2, h3 {
  font-weight: normal; }

.col-lg-1 {
  width: 8.33333333%; }

.col-lg-2 {
  width: 16.66666667%; }

.col-lg-3 {
  width: 25%; }

.col-lg-4 {
  width: 33.33333333%; }

.col-lg-5 {
  width: 41.66666667%; }

.col-lg-6 {
  width: 50%; }

.col-lg-7 {
  width: 58.33333333%; }

.col-lg-8 {
  width: 66.66666667%; }

.col-lg-9 {
  width: 75%; }

.col-lg-10 {
  width: 83.33333333%; }

.col-lg-11 {
  width: 91.66666667%; }

.col-lg-12 {
  width: 100%; }

.col-lg-vw-1 {
  width: 8.3vw; }

.col-lg-vw-2 {
  width: 16.6vw; }

.col-lg-vw-3 {
  width: 25vw; }

.col-lg-vw-4 {
  width: 33.3vw; }

.col-lg-vw-5 {
  width: 41.6vw; }

.col-lg-vw-6 {
  width: 50vw; }

.col-lg-vw-7 {
  width: 58.3vw; }

.col-lg-vw-8 {
  width: 66.67vw; }

.col-lg-vw-9 {
  width: 75vw; }

.col-lg-vw-10 {
  width: 83.3vw; }

.col-lg-vw-11 {
  width: 91.67vw; }

.col-lg-vw-12 {
  width: 100vw; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

#header {
  padding: 1rem 0; }
  #header .menu {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    list-style: none; }
    #header .menu li:not(:last-child) {
      margin-right: 4rem; }
    #header .menu li a {
      text-decoration: none;
      text-transform: uppercase;
      color: #111;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      #header .menu li a:hover {
        color: #FF7F1A; }
  #header .meta {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 4rem; }

#katalog-btn {
  margin-right: 4rem;
  text-transform: uppercase;
  background-color: #FF7F1A;
  color: #fff;
  padding: .4rem 1rem;
  cursor: pointer;
  padding-right: 4.5rem; }

#logo a {
  text-decoration: none;
  color: #111;
  font-size: 1.5rem; }
  #logo a span {
    color: #FF7F1A; }

#search-btn {
  background-size: contain;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  margin-right: 2rem;
  background-image: url(../images/icons/002-search.svg); }

#cart-btn {
  background-size: contain;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  background-image: url(../images/icons/001-shopping-cart.svg); }

.products {
  margin-top: 2rem;
  margin-bottom: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (4fr)[4];
  grid-template-columns: repeat(4, 4fr);
  grid-gap: .3rem; }

.product {
  position: relative; }
  .product:hover .info {
    opacity: 1; }
  .product:hover .content {
    color: #fff; }
    .product:hover .content .props .attr .attr-item ul li {
      color: rgba(255, 255, 255, 0.86);
      border-color: rgba(255, 255, 255, 0.86); }
    .product:hover .content .props .to-cart .price_old {
      color: rgba(255, 255, 255, 0.56); }
  .product .image {
    position: relative;
    overflow: hidden;
    height: 50vh;
    margin-bottom: .5rem; }
    .product .image img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .product .content {
    position: relative;
    z-index: 1; }
    .product .content .desc {
      margin-bottom: .75rem; }
      .product .content .desc h3 {
        margin-bottom: .5rem; }
      .product .content .desc p {
        font-size: .85rem; }
    .product .content .props .attr .attr-item ul {
      display: -webkit-box;
      display: flex;
      list-style: none; }
      .product .content .props .attr .attr-item ul li {
        color: #4D4E50;
        padding: .05rem .55rem;
        font-size: .75rem;
        border-radius: 2px;
        border: 1px solid #4D4E50;
        cursor: pointer; }
        .product .content .props .attr .attr-item ul li.active, .product .content .props .attr .attr-item ul li:hover {
          color: #FF7F1A;
          border-color: #FF7F1A; }
        .product .content .props .attr .attr-item ul li:not(:last-child) {
          margin-right: .5rem; }
    .product .content .props .to-cart {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center; }
      .product .content .props .to-cart .price {
        margin-right: 1rem;
        font-weight: bold;
        font-size: 1.3rem;
        line-height: 1.2; }
        .product .content .props .to-cart .price_old {
          font-size: .85rem;
          color: #4D4E50; }
      .product .content .props .to-cart_btn {
        width: 1.45rem;
        height: 1.45rem;
        background: url("../images/icons/001-shopping-cart_orange.svg") center center no-repeat;
        background-size: contain;
        cursor: pointer;
        position: relative; }
  .product .meta {
    position: absolute;
    z-index: 1;
    top: 1rem;
    left: 1rem; }
    .product .meta .country {
      width: 1.5rem;
      height: 1rem;
      margin-bottom: 1rem;
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat; }
      .product .meta .country.fr {
        background-image: url("../images/icons/country/france.svg"); }
    .product .meta .badge {
      display: -webkit-box;
      display: flex; }
      .product .meta .badge .item {
        color: #fff;
        padding: .05rem .65rem;
        border-radius: 5px;
        background-color: #000;
        font-size: .75rem; }
  .product .info {
    position: absolute;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    top: -.5rem;
    left: -.5rem;
    width: calc(100% + 1rem);
    height: calc(100% + 1rem);
    background-color: rgba(0, 0, 0, 0.65);
    color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding: .5rem; }
    .product .info .attr {
      border: 1px solid #fff;
      width: 100%; }
      .product .info .attr .item {
        padding: 0 .5rem; }
        .product .info .attr .item:not(:last-child) {
          border-bottom: 1px solid #fff; }
        .product .info .attr .item .label {
          border-right: 1px solid #fff; }
        .product .info .attr .item .value {
          text-align: right; }
        .product .info .attr .item .label, .product .info .attr .item .value {
          width: 50%;
          padding: .5rem 0;
          font-size: .75rem; }
    .product .info a {
      margin-top: 3rem;
      color: #FF7F1A; }

a.button {
  display: inline-block;
  background-color: #FF7F1A;
  border: 2px solid #fff;
  padding: .25rem 2.3rem;
  color: #fff;
  text-decoration: none; }

#FrontSlider {
  height: 62vh; }
  #FrontSlider .wrapper {
    display: -ms-grid;
    display: grid;
    grid-gap: 1px;
    -ms-grid-columns: (6fr)[6];
    grid-template-columns: repeat(6, 6fr);
    -ms-grid-rows: (7fr)[7];
    grid-template-rows: repeat(7, 7fr); }
    #FrontSlider .wrapper .slider {
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
      grid-column: 1/5;
      -ms-grid-row: 1;
      -ms-grid-row-span: 6;
      grid-row: 1/7;
      height: 100%;
      width: 100%; }
      #FrontSlider .wrapper .slider .slick-list,
      #FrontSlider .wrapper .slider .slick-track,
      #FrontSlider .wrapper .slider .slick-slide,
      #FrontSlider .wrapper .slider .slick-slide > div,
      #FrontSlider .wrapper .slider .slick-slide > div > div {
        height: 100%; }
      #FrontSlider .wrapper .slider .slick-arrow {
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: calc(50% - 2rem / 2);
        left: 1rem;
        background-color: #D5D5D6;
        border-radius: 100%;
        font-size: 0;
        z-index: 1;
        border: .1rem solid #584D39; }
        #FrontSlider .wrapper .slider .slick-arrow.slick-next {
          right: 1rem;
          left: auto; }
      #FrontSlider .wrapper .slider .item {
        position: relative;
        overflow: hidden;
        height: 100%; }
        #FrontSlider .wrapper .slider .item:after {
          content: '';
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 50%;
          background: -webkit-gradient(linear, left top, left bottom, from(rgba(252, 251, 251, 0)), to(rgba(0, 0, 0, 0.4)));
          background: linear-gradient(180deg, rgba(252, 251, 251, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
          z-index: 0; }
        #FrontSlider .wrapper .slider .item .content {
          display: -webkit-box;
          display: flex;
          height: 100%;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: end;
          align-items: flex-end;
          position: relative;
          z-index: 1; }
          #FrontSlider .wrapper .slider .item .content-wrap {
            height: 52%; }
            #FrontSlider .wrapper .slider .item .content-wrap .button {
              margin-top: 1.5rem; }
          #FrontSlider .wrapper .slider .item .content p {
            color: #fff;
            font-size: 2rem; }
        #FrontSlider .wrapper .slider .item .image {
          position: absolute;
          z-index: 0;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover; }
          #FrontSlider .wrapper .slider .item .image img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover; }
    #FrontSlider .wrapper .actual {
      -ms-grid-column: 5;
      -ms-grid-column-span: 2;
      grid-column: 5/7;
      -ms-grid-row: 1;
      -ms-grid-row-span: 6;
      grid-row: 1/7;
      height: 100%;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (2fr)[2];
      grid-template-columns: repeat(2, 2fr);
      grid-gap: 1px; }
      #FrontSlider .wrapper .actual .item {
        position: relative;
        overflow: hidden;
        height: 100%; }
        #FrontSlider .wrapper .actual .item:after {
          content: '';
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 50%;
          background: -webkit-gradient(linear, left top, left bottom, from(rgba(252, 251, 251, 0)), to(rgba(0, 0, 0, 0.4)));
          background: linear-gradient(180deg, rgba(252, 251, 251, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
          z-index: 0; }
        #FrontSlider .wrapper .actual .item .content {
          display: -webkit-box;
          display: flex;
          height: 100%;
          padding: 1.5rem 1rem;
          position: relative;
          z-index: 1;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          flex-direction: column;
          -webkit-box-pack: end;
          justify-content: flex-end;
          text-align: center;
          -webkit-box-align: center;
          align-items: center; }
          #FrontSlider .wrapper .actual .item .content h3 {
            color: #fff;
            margin-bottom: .55rem; }
          #FrontSlider .wrapper .actual .item .content a {
            color: #FF7F1A; }
        #FrontSlider .wrapper .actual .item .image {
          position: absolute;
          z-index: 0;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover; }
          #FrontSlider .wrapper .actual .item .image img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover; }
    #FrontSlider .wrapper .categories {
      -ms-grid-column: 1;
      -ms-grid-column-span: 6;
      grid-column: 1/7;
      -ms-grid-row: 7;
      grid-row: 7/7;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (6fr)[6];
      grid-template-columns: repeat(6, 6fr);
      grid-gap: 1px; }
      #FrontSlider .wrapper .categories .item {
        background-color: #111;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        padding: .45rem 0;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: end;
        justify-content: flex-end;
        text-align: center;
        -webkit-box-align: center;
        align-items: center; }
        #FrontSlider .wrapper .categories .item .image img {
          -webkit-filter: invert(1);
          filter: invert(1);
          width: 2rem; }
        #FrontSlider .wrapper .categories .item h4 {
          font-weight: normal; }


::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  border-color: #fafafa;
  background-color: #444; }

::-webkit-scrollbar-thumb:hover {
  border-width: 1px 1px 1px 2px;
  border-color: #fafafa;
  background-color: #373A3C; }

::-webkit-scrollbar-track {
  border-width: 0; }

::-moz-scrollbar {
  width: 6px; }

::-moz-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  border-color: #fafafa;
  background-color: #373A3C; }

::-moz-scrollbar-thumb:hover {
  border-width: 1px 1px 1px 2px;
  border-color: #fafafa;
  background-color: #666; }

::-moz-scrollbar-track {
  border-width: 0; }

html {
  font-size: 1.1vw; }

body {
  font-family: 'Oswald', sans-serif; }
