$black : #111;
$orange : #FF7F1A;

* {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: $black;
}

body {
    font-family: arial;
}

// scroll
::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #fafafa;
    background-color: #111;
}

::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #fafafa;
    background-color: #666
}

::-webkit-scrollbar-track {
    border-width: 0
}

::-moz-scrollbar {
    width: 5px
}

::-moz-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #fafafa;
    background-color: #444;
}

::-moz-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #fafafa;
    background-color: #666
}

::-moz-scrollbar-track {
    border-width: 0
}

// global flex blocks properties

.dis-flex {
    display: flex;
}

.align-self-center {
    align-self: center;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-base {
    align-items: baseline;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

.align-content-between {
    align-content:  space-between;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: flex-start;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.flex-direction-col {
    flex-direction: column;
}

// global display grid blocks properties

.dis-grid {
    display: grid;
}

// positions

.relative {
    position: relative;
}
.z1 {
    z-index: 1;
}

// height and width

.full-height {
    height: 100%;
    min-height: 100%;
}

.full-width {
    width: 100%;
    min-width: 100%;
}

// block colors 

.black-block {
    color: #fff;
    a {
        color: #fff;
    }
}