// with flex

.col-lg-1 {
    width: 8.33333333%;
}

.col-lg-2 {
    width: 16.66666667%;
}

.col-lg-3 {
    width: 25%;
}

.col-lg-4 {
    width: 33.33333333%;
}

.col-lg-5 {
    width: 41.66666667%;
}

.col-lg-6 {
    width: 50%;
}

.col-lg-7 {
    width: 58.33333333%;
}

.col-lg-8 {
    width: 66.66666667%;
}

.col-lg-9 {
    width: 75%;
}

.col-lg-10 {
    width: 83.33333333%;
}

.col-lg-11 {
    width: 91.66666667%;
}

.col-lg-12 {
    width: 100%;
}

// vw

.col-lg-vw-1 {
    width: 8.33333333vw
}

.col-lg-vw-2 {
    width: 16.66666667vw
}

.col-lg-vw-3 {
    width: 25vw
}

.col-lg-vw-4 {
    width: 33.33333333vw
}

.col-lg-vw-5 {
    width: 41.66666667vw
}

.col-lg-vw-6 {
    width: 50vw
}

.col-lg-vw-7 {
    width: 58.33333333vw
}

.col-lg-vw-8 {
    width: 66.66666667vw
}

.col-lg-vw-9 {
    width: 75vw
}

.col-lg-vw-10 {
    width: 83.33333333vw
}

.col-lg-vw-11 {
    width: 91.66666667vw
}

.col-lg-vw-12 {
    width: 100vw
}


// with display grid 

.grid-col-lg-1 {
    grid-template-columns: repeat(1, 1fr)
}

.grid-col-lg-2 {
    grid-template-columns: repeat(2, 2fr)
}

.grid-col-lg-3 {
    grid-template-columns: repeat(3, 3fr)
}

.grid-col-lg-4 {
    grid-template-columns: repeat(4, 4fr)
}

.grid-col-lg-5 {
    grid-template-columns: repeat(5, 5fr)
}

.grid-col-lg-6 {
    grid-template-columns: repeat(6, 6fr)
}