@import '_vars';

.tabs {
  margin-top: 4rem;
}

.tab__header {
  display: flex;
  flex-wrap: wrap;
}
.tab__header .tab__header-title {
  margin-right: 1.3rem;
  cursor: pointer;
  font-size: 1.5rem;
  border-bottom: 2px solid transparent;
}
.tab__header .tab__header--active .tab__header-title,
.tab__header > div:hover .tab__header-title {
    color: $orange;
    border-color: $orange;
}

.tab__content > [class*=tab__content-] {
  display: none;
}

.tab__content > div.tab__content--active {
  display: block;
}